[Unit]
Description=Linkblocks Demo Postgres

[Container]
ContainerName=linkblocks-demo-postgres
Image=docker.io/postgres:16.3-alpine

Volume=linkblocks-demo-postgres.volume:/var/lib/postgresql/data

Network=linkblocks-demo.network

Environment=POSTGRES_USER=linkblocks
Environment=POSTGRES_DB=linkblocks
Environment=POSTGRES_PASSWORD=linkblocks

[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=default.target
