{
	log default {
		format console
	}
}

feeds.zwielich.tech {
	# Run the `@vpn` rule for all requests matching this remote ip
	# @vpn remote_ip 10.10.10.0/24

	reverse_proxy miniflux:8080
}

pad.zwielich.tech {
	reverse_proxy hedgedoc:3000
}

tasks.zwielich.tech {
    reverse_proxy /api/* vikunja-api:3456
    reverse_proxy /.well-known/* vikunja-api:3456
    reverse_proxy /dav/* vikunja-api:3456
    reverse_proxy vikunja-frontend:80
}

spc-signup.zwielich.tech {
	reverse_proxy spc_signup:3000
}

linkblocks.zwielich.tech {
	reverse_proxy linkblocks-demo:3000
}

lb.zwielich.tech {
	reverse_proxy linkblocks:3000
}

archive.observer {
	log {
		format json
		output file /logs/archive.observer/access.log
	}

	root * /aharc

	file_server
}
