{
	log default {
		format console
	}
}

feeds.zwielich.tech {
	# Run the `@vpn` rule for all requests matching this remote ip
	# @vpn remote_ip 10.10.10.0/24

	reverse_proxy miniflux:8080
}

pad.zwielich.tech {
	reverse_proxy hedgedoc:3000
}

spc-signup.zwielich.tech {
	reverse_proxy spc_signup:3000
}

linkblocks.zwielich.tech {
	reverse_proxy linkblocks-demo:3000
}

lb.zwielich.tech {
	reverse_proxy linkblocks:3000
}

actual.zwielich.tech {
	encode gzip zstd
	reverse_proxy actual:3000
}

archive.observer {
	log {
		format json
		output file /logs/archive.observer/access.log
	}

	root * /aharc

	file_server
}

scraps.zwielich.tech {
	basic_auth {
		boi {file.{$PRIVATE_PASSWORD_HASH_FILE}}
	}
	reverse_proxy scraps:3000
}

metube.zwielich.tech {
	basic_auth {
		guest {file.{$GUEST_PASSWORD_HASH_FILE}}
	}
	reverse_proxy metube:8081
}
