[Unit]
Description=Linkblocks Postgres

[Container]
ContainerName=linkblocks-postgres
Image=docker.io/postgres:16.3-alpine

Volume=linkblocks-postgres.volume:/var/lib/postgresql/data

Network=linkblocks.network

Environment=POSTGRES_USER=linkblocks
Environment=POSTGRES_DB=linkblocks
Environment=POSTGRES_PASSWORD=linkblocks

[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=default.target
