[Unit]
Description=Vikunja API

[Container]
ContainerName=vikunja-api
Image=docker.io/vikunja/api:0.20.0

Network=caddy_default

Volume=vikunja-files.volume:/app/vikunja/files
Volume=vikunja-db.volume:/db

Secret=vikunja-jwt-secret,type=env,target=VIKUNJA_SERVICE_JWTSECRET

Environment=VIKUNJA_DATABASE_TYPE=sqlite
Environment=VIKUNJA_DATABASE_PATH=/db/vikunja.db
Environment=VIKUNJA_SERVICE_FRONTENDURL=https://tasks.zwielich.tech/
Environment=PUID=0
Environment=PGID=0

[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=default.target
