[Unit]
Description=HedgeDoc

[Container]
ContainerName=hedgedoc-postgres
Image=docker.io/postgres:15.4-alpine

Volume=hedgedoc-db.volume:/var/lib/postgresql/data

Network=hedgedoc.network

Environment=POSTGRES_USER=hedgedoc
Environment=POSTGRES_DB=hedgedoc
Environment=POSTGRES_PASSWORD=hedgedoc

[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=default.target
