[Unit]
Description=HedgeDoc
Requires=hedgedoc-postgres.service
After=hedgedoc-postgres.service

[Container]
ContainerName=hedgedoc
Image=quay.io/hedgedoc/hedgedoc:1.9.9
Volume=hedgedoc-uploads.volume:/hedgedoc/public/uploads

Network=hedgedoc.network
Network=caddy_default

Secret=hedgedoc-session-secret,type=env,target=CMD_SESSION_SECRET

Environment=DEBUG=true
Environment=CMD_DB_DIALECT=postgres
Environment=CMD_DB_HOST=hedgedoc-postgres
Environment=CMD_DB_USERNAME=hedgedoc
Environment=CMD_DB_PORT=5432
Environment=CMD_DB_DATABASE=hedgedoc
Environment=CMD_DB_PASSWORD=hedgedoc

Environment=CMD_DOMAIN=pad.zwielich.tech
Environment=CMD_PROTOCOL_USESSL=true

Environment=CMD_ALLOW_FREEURL=true
Environment=CMD_REQUIRE_FREEURL_AUTHENTICATION=true
Environment=CMD_ALLOW_EMAIL_REGISTER=false
Environment=CMD_ALLOW_ANONYMOUS=false
Environment=CMD_ALLOW_ANONYMOUS_EDITS=true
Environment=CMD_CSP_ALLOW_FRAMING=false
Environment=CMD_CSP_ALLOW_PDF_EMBED=false


[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=default.target
